* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7f5;
    color: #111;
    line-height: 1.6;
}


/* NAVIGATION */

header {
    width: 100%;
    padding: 22px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eeeeee;
}

.logo {
    font-size: 27px;
    font-weight: 900;
    letter-spacing: 4px;
}

nav {
    display: flex;
    gap: 28px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 600;
}


/* HERO SECTION */

.hero {
    min-height: 90vh;
    padding: 80px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background: #ffffff;
}

.hero-content {
    max-width: 650px;
}

.small-title,
.section-label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 18px;
}

.hero h1 {
    font-size: clamp(48px, 7vw, 90px);
    line-height: 0.98;
    margin-bottom: 30px;
}

.hero h1 span {
    color: #555;
}

.description {
    max-width: 520px;
    color: #666;
    font-size: 17px;
    margin-bottom: 35px;
}


/* BUTTON */

button {
    border: none;
    background: #111;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #333;
}


/* CREATIVE BOX */

.creative-box {
    width: 350px;
    height: 350px;
    background: #111;
    color: white;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items